<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A 조 | SiS</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="../css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>
    <!-- Switchery -->
    <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="javascript:window.location.href='/admin_home';" class="site_title"></i> <span><i class="glyphicon glyphicon-globe"></i> A 조 | SiS</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="images/user.png" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ data[0] }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Admin</h3>
                        <ul class="nav side-menu">
                            <li><a href="javascript:window.location.href='/admin_home';"><i class="fa fa-home"></i> 메인 <span class="fa fa-dot-circle-o"></span></a>
                            </li>
                            <li><a><i class="fa fa-edit"></i> 등록관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/admin_registration';">등록</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 학과관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/department_registration';">학과등록</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 과목관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/course_register';">과목등록</a></li>
                                    <li><a href="javascript:window.location.href='/admin_courses';">등록된 과목</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/user.png" alt="">로그인 (Log in)
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:location.href='/logout'"><i class="fa fa-sign-out pull-right"></i>로그아웃(Log Out)</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="x_panel">
                <div class="x_title">
                    <h3>등록창(Registration Form)
                        <div class="btn-group col-md-offset-5 navbar-right" data-toggle="buttons" style="margin-left: 10px">
                            <label class="btn btn-primary" onclick="javascript:student_selected()">
                                <input type="radio" name="option" id="Student" checked value="student" ><i class="fa fa-user"></i> 학생
                            </label>
                            <label class="btn btn-danger" onclick="javascript:professor_selected()">
                                <input type="radio" name="option" id="Professor" value="professor" ><i class="fa fa-institution"></i> 교수
                            </label>
                        </div>
                    </h3>
                </div>

                <ul class="nav navbar-right panel_toolbox">

                </ul>
                <div class="clearfix"></div>


                <div class="x_content">
                    <br>
                    <form name="registration_form" id="demo-form2" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data" action="/registration">

                        <input type="hidden" name="type" value="s"/>

                        <!--이름-->
                        <br class="form-group">
                        <div class="col-md-4 col-sm-4 col-xs-9 col-md-offset-2" >
                            <input type="text" class="form-control has-feedback-left" placeholder="이름" name="first_name" required>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>

                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-9 ">
                                <input type="text" class="form-control has-feedback-left" placeholder="성" name="last_name" required>
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>

                            </div>
                        </div>

                        <fieldset>
                            <!--생년월일, 핸드폰번호-->
                            <div class="col-md-4 col-sm-4 col-xs-9 col-md-offset-2 pull-left active" >
                                <input type="date" class="form-control has-feedback-left"  name="date_of_birth" required>
                                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="form-group">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="col-md-4 col-sm-4 col-xs-9 " >
                                            <input type="tel" class="form-control has-feedback-left" placeholder="핸드폰 번호" name="phone" required>
                                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--지도교수, 학과-->
                            <div class="col-md-4 col-sm-4 col-xs-9 col-md-offset-2" >
                                <select id="department" class="form-control has-feedback-left" name="department" required>
                                    <option value="" disabled selected>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;학과를 선택하세요.</option>
                                    {% for id, name in department_rows %}
                                        <option value={{ id }} >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="fa fa-university form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-9 " id="adviser_div">
                                    <select id="adviser" class="form-control has-feedback-left" name="adviser" required>
                                    <option value="" disabled selected>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 지도교수를 선택하세요.</option>
                                    {% for id, first_name, last_name in professor_rows %}
                                        <option value={{ id }} >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ first_name + " " + last_name }}</option>
                                    {% endfor %}
                                </select>
                                    <span class="fa fa-users form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <!-- 이메일 -->
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-9 col-md-offset-2" >
                                    <input type="text" class="form-control has-feedback-left" placeholder="이메일" name="mail_host" required>
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <div class="col-md-4 col-sm-4 col-xs-9 " >
                                            <input type="text" class="form-control has-feedback-left" placeholder="mail.com" name="mail_server" required>
                                            <span class="fa fa-at form-control-feedback left " aria-hidden="true"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--주소-->
                            <div class="form-group">
                                <div class="col-md-8 col-sm-8 col-xs-9 col-md-offset-2" >
                                    <input type="text" class="form-control has-feedback-left" placeholder="주소" name="address">
                                    <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <!-- 학점/사진 등록  -->
                            <div class="form-group">

                                <div class="col-md-4 col-sm-4 col-xs-9  col-md-offset-2">
                                    <input type="file" class="form-control has-feedback-left" placeholder="사진 등록" name="photo">
                                    <span class="fa fa-photo form-control-feedback left" aria-hidden="true"></span>
                                </div>


                                <div class="control-group">
                                    <div class="controls">
                                        <div class="col-md-2 col-sm-2 col-xs-9" id="credits">
                                            <input type="number" min="0" max="25" class="form-control has-feedback-left" placeholder="학점" name="credit" value="19">
                                            <span class="fa fa-book form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <div class="col-md-2 col-sm-2 col-xs-9" id="year">
                                            <input type="number" min="1" max="5" class="form-control has-feedback-left" placeholder="학년" name="year" value="1">
                                            <span class="fa fa-graduation-cap form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- /성별, 휴학/재학 -->

                            <div>
                                <label class="control-label col-md-1 col-sm-1 col-xs-2 col-md-offset-2">성별</label>
                                <div class="col-md-3 col-sm-3 col-xs-9">
                                    <div id="gender1" class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-round btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="gender" value="m" checked><i class="fa fa-male "></i> &nbsp;남자
                                        </label>
                                        <label class="btn btn-round btn-danger" type="button" >
                                            <input type="radio" name="gender" value="f"><i class="fa fa-female"></i> &nbsp;여자
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-1 col-sm-1 col-xs-2">상태</label>
                                    <div class="col-md-4 col-sm-4 col-xs-9" style="padding-top: 0.5%">
                                        <label>
                                            <input type="checkbox" class="js-switch" name="status" checked />
                                        </label>
                                    </div>

                                </div>

                            </div>

                        </fieldset>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                <input type="reset" class="btn btn-primary" value="초기화"/>
                                <input type="submit" class="btn btn-success" value="등록"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>


    <div class="row">


    </div>
</div>
<!-- /page content -->

<!-- footer content -->
<footer>
    <div class="pull-right">
        A조 - Powered by <a href="https://fb.com">SiS</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="../vendors/bernii/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="../vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="../vendors/Flot/jquery.flot.js"></script>
<script src="../vendors/Flot/jquery.flot.pie.js"></script>
<script src="../vendors/Flot/jquery.flot.time.js"></script>
<script src="../vendors/Flot/jquery.flot.stack.js"></script>
<script src="../vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="js/flot/jquery.flot.orderBars.js"></script>
<script src="js/flot/date.js"></script>
<script src="js/flot/jquery.flot.spline.js"></script>
<script src="js/flot/curvedLines.js"></script>
<!-- jVectorMap -->
<script src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="js/moment/moment.min.js"></script>
<script src="js/datepicker/daterangepicker.js"></script>
<!-- Switchery -->
<script src="../vendors/switchery/dist/switchery.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

<script lang="javascript">
    function student_selected() {
        document.registration_form.type.value = 's';
        document.getElementById('adviser').required = true;
        document.getElementById('adviser_div').style.display = 'initial';
        document.getElementById('credits').style.display = 'initial';
        document.getElementById('year').style.display = 'initial';
    }

    function professor_selected() {
        document.registration_form.type.value = 'p';
        document.getElementById('adviser').value = '';
        document.getElementById('adviser').required = false;
        document.getElementById('adviser_div').style.display = 'none';
        document.getElementById('credits').style.display = 'none';
        document.getElementById('year').style.display = 'none';
    }
</script>

</body>
</html>
