<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A 조 | SiS</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="../css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>
    <!-- Switchery -->
    <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="javascript:window.location.href='/admin_home';" class="site_title"></i> <span><i class="glyphicon glyphicon-globe"></i> A 조 | SiS</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="images/user.png" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ data[0] }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Admin</h3>
                        <ul class="nav side-menu">
                            <li><a href="javascript:window.location.href='/admin_home';"><i class="fa fa-home"></i> 메인 <span class="fa fa-dot-circle-o"></span></a>
                            </li>
                            <li><a><i class="fa fa-edit"></i> 등록관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/admin_registration';">등록</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 학과관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">

                                    <li><a href="javascript:window.location.href='/department_registration';">학과등록</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 과목관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/course_register';">과목등록</a></li>
                                    <li><a href="javascript:window.location.href='/admin_courses';">등록된 과목</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-table"></i> 학적관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/admin_tables';">성적표</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/user.png" alt="">Administrator
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li><a href="javascript:location.replace('/logout')"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->



        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="x_panel">
                <div class="x_title">
                    <h3>등록된 학과(A registered Courses)</h3>
                </div>


                <!-- 등록표 -->
                <div class="x_content">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action ">
                        <thead>
                          <tr class="headings" style="height: 40px; " >

                            <th class="a-center" >과목명 </th>
                            <th class="a-center">교수 </th>
                            <th class="a-center">학과 </th>
                            <th class="column-title">요일</th>
                            <th class="column-title">시간 </th>
                            <th class="column-title">강의실 </th>
                              <th>학점</th>
                            <th class="">전체인원</th>
                              <th class="">현재인원</th>
                            <th class="bulk-actions" colspan="17">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> )</a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>

                         <!-- 등록란0 -->
                            <td class="a-center">
                               <select id="과목명0" class="form-control-left has-feedback" name="과목명0" required style="width: 160px; height : 30px; ">
                                    <option value="" disabled="" selected="">과목명 선택</option>
                                        <option value="617001">알고리즘</option>
                                        <option value="617002">캡스톤 디자인 I</option>
                                    <option value="617003">이산수학</option>
                                </select>
                            </td>

                            <td class=" "><input type="text" style="width: 90px; height : 30px; " id="교수0" placeholder="교수 입력" ></td>
                            <td class=" ">
                            <select id="학과" class="form-control-left has-feedback" name="adviser" required style="width: 160px; height : 30px; ">
                                    <option value="" disabled="" selected="">학과 선택</option>
                                        <option value="617001">소프트웨어학과</option>
                                        <option value="617002">제어계측공학과</option>
                                <option value="61703">경영학과</option>
                                </select>
                            </td>
                            <td class=" ">
                            <select id="요일" class="form-control-left has-feedback" name="adviser" required style="width: 100px; height : 30px; ">
                                    <option value="" disabled="" selected="">요일 선택</option>
                                        <option value="617001">월</option>
                                        <option value="617002">화</option>
                                <option value="617003">수</option>
                                <option value="617004">목</option>
                                <option value="617005">금</option>
                                <option value="617006">토</option>
                                </select>
                            </td>
                            <td class=" "><input type="text" style="width: 100px; height : 30px;" id="시간0" placeholder=""></td>
                            <td class=" "><input type="text" style="width: 120px; height : 30px;" id="강의실0" placeholder="강의실 입력"></td>
                            <td class=" ">
                            <input type="number" min="0" max="20" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                            </td>
                            <td class=" ">
                            <input type="number" min="0" max="1000" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                            </td>
                                <td class=" ">
                                <input type="number" min="0" max="1000" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                                </td>

                          </tr>


                     <!-- 등록란1 -->


                         <!-- 등록란2 -->
                          <tr class="even pointer">
                            <td class="a-center">
                                <select id="과목명2" class="form-control-left has-feedback" name="과목명2" required style="width: 160px; height : 30px; ">
                                    <option value="" disabled="" selected="">과목명 선택</option>
                                        <option value="617001">알고리즘</option>
                                        <option value="617002">캡스톤 디자인 I</option>
                                    <option value="617003">이산수학</option>
                                </select>
                            </td>

                            <td class=" "><input type="text" style="width: 90px; height : 30px; " id="교수2" placeholder="교수 입력" ></td>
                            <td class=" ">
                            <select id="학과2" class="form-control-left has-feedback" name="adviser" required style="width: 160px; height : 30px; ">
                                    <option value="" disabled="" selected="">학과 선택</option>
                                        <option value="617001">소프트웨어학과</option>
                                        <option value="617002">제어계측공학과</option>
                                <option value="61703">경영학과</option>
                                </select>
                            </td>
                            <td class=" ">
                            <select id="요일2" class="form-control-left has-feedback" name="adviser" required style="width: 100px; height : 30px; ">
                                    <option value="" disabled="" selected="">요일 선택</option>
                                        <option value="617001">월</option>
                                        <option value="617002">화</option>
                                <option value="617003">수</option>
                                <option value="617004">목</option>
                                <option value="617005">금</option>
                                <option value="617006">토</option>
                                </select>
                            </td>
                            <td class=" "><input type="text" style="width: 100px; height : 30px;" id="시간2" placeholder=""></td>
                            <td class=" "><input type="text" style="width: 120px; height : 30px;" id="강의실2" placeholder="강의실 입력"></td>
                            <td class=" ">
                            <input type="number" min="0" max="20" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                            </td>
                            <td class=" ">
                            <input type="number" min="0" max="1000" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                            </td>
                                <td class=" ">
                                <input type="number" min="0" max="1000" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                                </td>
                          </tr>

                          <!-- 등록란0 -->
                            <td class="a-center">
                                <select id="과목명3" class="form-control-left has-feedback" name="과목명3" required style="width: 160px; height : 30px; ">
                                    <option value="" disabled="" selected="">과목명 선택</option>
                                        <option value="617001">알고리즘</option>
                                        <option value="617002">캡스톤 디자인 I</option>
                                    <option value="617003">이산수학</option>
                                </select>
                            </td>

                            <td class=" "><input type="text" style="width: 90px; height : 30px; " id="교수3" placeholder="교수 입력" ></td>
                            <td class=" ">
                            <select id="학과3" class="form-control-left has-feedback" name="adviser" required style="width: 160px; height : 30px; ">
                                    <option value="" disabled="" selected="">학과 선택</option>
                                        <option value="617001">소프트웨어학과</option>
                                        <option value="617002">제어계측공학과</option>
                                <option value="61703">경영학과</option>
                                </select>
                            </td>
                            <td class=" ">
                            <select id="요일3" class="form-control-left has-feedback" name="adviser" required style="width: 100px; height : 30px; ">
                                    <option value="" disabled="" selected="">요일 선택</option>
                                        <option value="617001">월</option>
                                        <option value="617002">화</option>
                                <option value="617003">수</option>
                                <option value="617004">목</option>
                                <option value="617005">금</option>
                                <option value="617006">토</option>
                                </select>
                            </td>
                            <td class=" "><input type="text" style="width: 100px; height : 30px;" id="시간3" placeholder=""></td>
                            <td class=" "><input type="text" style="width: 120px; height : 30px;" id="강의실3" placeholder="강의실 입력"></td>
                            <td class=" ">
                            <input type="number" min="0" max="20" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                            </td>
                            <td class=" ">
                            <input type="number" min="0" max="1000" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                            </td>
                                <td class=" ">
                                <input type="number" min="0" max="1000" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                                </td>

                          </tr>
                        </tbody>

                      </table>

                    </div>


                  </div>




                <div class="">
                    <br>
                    <form name="Professor_register" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data" action="/department_registration">

                        <div class="x_content">



                    <!-- 등록란11 -->
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                     <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingTwo1" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                          <h4 class="panel-title">과목등록 #1</h4></a>

                        <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body">
                              <div class="x_content">

                                  <div class="table-responsive">

                                      <table class="table table-striped jambo_table bulk_action ">
                                      <thead>
                          <tr class="headings" style="height: 40px; " >
                                 <th class="a-center" >과목명 </th>
                            <th class="a-center">교수 </th>
                            <th class="a-center">학과 </th>
                            <th class="column-title">요일</th>
                            <th class="column-title">시간 </th>
                            <th class="column-title">강의실 </th>
                              <th>학점</th>
                            <th class="">전체인원</th>
                              <th class="">현재인원</th>
                            <th class="bulk-actions" colspan="17">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> )</a>
                            </th>
                          </tr>
                        </thead>

                                          <tbody>

                         <!-- 등록란11 -->
                            <td class="a-center">
                                <select id="과목명11" class="form-control-left has-feedback" name="adviser" required style="width: 120px; height : 30px; ">

                                    <option value="" disabled="" selected="">과목명 선택</option>
                                        <option value="617001">알고리즘</option>
                                        <option value="617002">캡스톤 디자인 I</option>
                                    <option value="617003">이산수학</option>
                                </select>
                            </td>

                            <td class=" "><input type="text" style="width: 90px; height : 30px; " id="교수11" placeholder="교수 입력" ></td>
                            <td class=" ">
                            <select id="학과11" class="form-control-left has-feedback" name="과목 선택11" required style="width: 160px; height : 30px; ">
                                    <option value="" disabled="" selected="">학과 선택</option>
                                        <option value="617001">소프트웨어학과</option>
                                        <option value="617002">제어계측공학과</option>
                                <option value="61703">경영학과</option>
                                </select>
                            </td>
                            <td class=" ">
                            <select id="요일11" class="form-control-left has-feedback" name="adviser" required style="width: 100px; height : 30px; ">
                                    <option value="" disabled="" selected="">요일 선택</option>
                                        <option value="617001">월</option>
                                        <option value="617002">화</option>
                                <option value="617003">수</option>
                                <option value="617004">목</option>
                                <option value="617005">금</option>
                                <option value="617006">토</option>
                                </select>
                            </td>
                            <td class=" "><input type="text" style="width: 100px; height : 30px;" id="시간11" placeholder=""></td>
                            <td class=" "><input type="text" style="width: 120px; height : 30px;" id="강의실11" placeholder="강의실 입력"></td>
                            <td class=" ">
                            <input type="number" min="0" max="20" class="form-control-left has-feedback" placeholder="0" name="credit" value="학점" style="width: 50px; height : 30px;">
                            </td>
                            <td class=" ">
                            <input type="number" min="0" max="1000" class="form-control-left has-feedback" placeholder="0" name="전체인원" value="전체인원" style="width: 50px; height : 30px;">
                            </td>
                                <td class=" ">
                                <input type="number" min="0" max="1000" class="form-control-left has-feedback" placeholder="0" name="현재인원" value="현재인원" style="width: 50px; height : 30px;">
                                </td>
                                          </tbody>
                                      </table>
                                      <textarea required="required" name="description" class="form-control has-feedback col-md-7 col-xs-12" style="height: 130px; margin: 0px; width: 990px;" placeholder="수업계획서"></textarea>


                  </div></div>




                        <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                          <div class="panel-body">

                          </div>
                        </div>
                      </div>






                    <!-- end of accordion -->


                  </div>




                </fieldset>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                        <input type="reset" class="btn btn-primary" value="초기화"/>
                        <input type="submit" class="btn btn-success" value="등록"/>
                    </div>
                </div>
                </form>
                </div>
            </div>

        </div>

    </div>


    <div class="row">


    </div>
</div>
<!-- /page content -->

<!-- footer content -->
<footer>
    <div class="pull-right">
        A조 - Powered by <a href="https://fb.com">SiS</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="../vendors/bernii/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="../vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="../vendors/Flot/jquery.flot.js"></script>
<script src="../vendors/Flot/jquery.flot.pie.js"></script>
<script src="../vendors/Flot/jquery.flot.time.js"></script>
<script src="../vendors/Flot/jquery.flot.stack.js"></script>
<script src="../vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="js/flot/jquery.flot.orderBars.js"></script>
<script src="js/flot/date.js"></script>
<script src="js/flot/jquery.flot.spline.js"></script>
<script src="js/flot/curvedLines.js"></script>
<!-- jVectorMap -->
<script src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="js/moment/moment.min.js"></script>
<script src="js/datepicker/daterangepicker.js"></script>
<!-- Switchery -->
<script src="../vendors/switchery/dist/switchery.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>


</body>
</html>