<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A 조 | SiS</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="javascript:window.location.href='/admin_home';" class="site_title"></i> <span><i class="glyphicon glyphicon-globe"></i> A 조 | SiS</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="images/user.png" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ data[0] }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Admin</h3>
                        <ul class="nav side-menu">
                            <li><a href="javascript:window.location.href='/admin_home';"><i class="fa fa-home"></i> 메인 <span class="fa fa-dot-circle-o"></span></a>
                            </li>
                            <li><a><i class="fa fa-edit"></i> 등록관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/admin_registration';">등록</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 학과관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/department_registration';">학과등록</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 과목관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/course_register';">과목등록</a></li>
                                    <li><a href="javascript:window.location.href='/admin_courses';">등록된 과목</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/user.png" alt="">로그인 (Log in)
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:location.href='/logout'"><i class="fa fa-sign-out pull-right"></i>로그아웃(Log Out)</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="row tile_count">


            </div>
            <!-- /top tiles -->


            <br />

            <div class="row">

                <!--Activities -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>공지사항 <small>관리자</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="dashboard-widget-content">

                                <ul class="list-unstyled timeline widget">

                                    {% for title, text, register_time, till_time in recent_messages %}
                                    <li>
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>{{title}}</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>{{register_time}} ~ {{till_time}} </span>
                                                </div>
                                                <p class="excerpt">{{text}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}

                                </ul>
                                <form action="/recent_messages" method="post">
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <input type="text" class="form-control has-feedback-left" placeholder="제목" name="title" required>
                                        <span class="fa fa-header form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <textarea class="form-control has-feedback-left" placeholder="글" name="text" required></textarea>
                                        <span class="fa fa-font form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <input type="datetime-local" class="form-control has-feedback-left" placeholder="제목" name="date_time" required>
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                    </div> &nbsp
                                    <div class="col-md-12 col-sm-12 col-xs-12" align="right">
                                        <input type="submit" class="btn btn-success" value="등록"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- End Activities -->

                <div class="row">

                    <!— start of weather widget —>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="width: 295px;">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>일기 예보 <small>오늘… 내일… 모래</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <!— weather widget start —>
                            <table cellpadding=0 cellspacing=0 width=240 style="border:solid 1px #c0c3ce;font-family:Verdana;font-size:12px;background-color:#ffffff"><tr><td><table width=100% cellpadding=0 cellspacing=0><tr><td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshl.png"  bgcolor=#c0c3ce> </td><td width=* align=center background="https://rp5.ru/informer/htmlinfa/topsh.png" bgcolor=#c0c3ce><a style="color:#ffffff; font-family:Verdana;font-size: 12px;" href="https://rp5.ru/12534/ko"><b>충주시</b></a></td><td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshr.png" bgcolor=#c0c3ce> </td></tr></table></td></tr><tr><td valign=top style="padding:0;"><iframe src="https://rp5.ru/htmla.php?id=12534&lang=ko&um=00000&bg=%23ffffff&ft=%23ffffff&fc=%23c0c3ce&c=%23000000&f=Verdana&s=12&sc=4" width=100% height=225 frameborder=0 scrolling=no style="margin:0; "></iframe></td></tr></table>
                        </div>
                    </div>
                    <!— end of weather widget —>



                </div>

            </div>


            <div class="row">


            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                A조 - Powered by <a href="https://fb.com">SiS</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="../vendors/bernii/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="../vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="../vendors/Flot/jquery.flot.js"></script>
<script src="../vendors/Flot/jquery.flot.pie.js"></script>
<script src="../vendors/Flot/jquery.flot.time.js"></script>
<script src="../vendors/Flot/jquery.flot.stack.js"></script>
<script src="../vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="js/flot/jquery.flot.orderBars.js"></script>
<script src="js/flot/date.js"></script>
<script src="js/flot/jquery.flot.spline.js"></script>
<script src="js/flot/curvedLines.js"></script>
<!-- jVectorMap -->
<script src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="js/moment/moment.min.js"></script>
<script src="js/datepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>


</body>
</html>

