<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A 조 | SiS</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="javascript:window.location.href='/admin_home';" class="site_title"></i> <span><i class="glyphicon glyphicon-globe"></i> A 조 | SiS</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="images/user.png" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ data[0] }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Admin</h3>
                        <ul class="nav side-menu">
                            <li><a href="javascript:window.location.href='/admin_home';"><i class="fa fa-home"></i> 메인 <span class="fa fa-dot-circle-o"></span></a>
                            </li>
                            <li><a><i class="fa fa-edit"></i> 등록관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/admin_registration';">등록</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 학과관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/department_registration';">학과등록</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 과목관리 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/course_register';">과목등록</a></li>
                                    <li><a href="javascript:window.location.href='/admin_courses';">등록된 과목</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                       <li class="">
                            <a class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/user.png" alt="">로그인 (Log in)
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:location.href='/logout'"><i class="fa fa-sign-out pull-right"></i>로그아웃(Log Out)</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->



        <!-- page content -->
        <div class="right_col" role="main">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning fade in">
                <h4 style="text-align: center">{{ message }}</h4>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- top tiles -->
            <!-- 상위이름 -->
            <div class="x_panel">
                <div class="x_title">
                    <h3>과목등록 (Subject Registration)
                        <div class="btn-group col-md-offset-5 navbar-right" data-toggle="buttons" style="margin-left: 10px">

                        </div>
                    </h3>
                </div>

                <ul class="nav navbar-right panel_toolbox">

                </ul>
                <div class="clearfix"></div>


                <div class="x_content">
                    <br>
                    <form name="registration_form" id="demo-form2" method="post" class="form-horizontal form-label-left" action="/course_register">

                        <fieldset>
                            <div class="x_content">


                            </div>

                            <!--과목이름-->
                            <div class="form-group">
                                <div class="col-md-8 col-sm-8 col-xs-9 col-md-offset-2" >
                                    <input type="text" class="form-control has-feedback-left" placeholder="과목명" name="name">
                                    <span class="fa fa-book form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <!--지도교수, 학과-->
                            <div class="col-md-8 col-sm-8 col-xs-9 col-md-offset-2" >
                                <select id="department" class="form-control has-feedback-left" name="department" required>
                                    <option value="" disabled selected>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;학과선택</option>
                                    {% for id, name in department_rows %}
                                    <option value={{ id }} >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="fa fa-university form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            <br>

                            <div class="form-group">
                                <label  class="control-label col-md-1 col-sm-1 col-xs-2 col-md-offset-2"></label>
                                <div class="col-md-8 col-sm-8 col-xs-9 col-md-offset-2" >
                                    <select id="professor" class="form-control has-feedback-left" name="professor" required>
                                        <option value="" disabled selected>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;교수 선택</option>
                                        {% for id, first_name, last_name in professor_rows %}
                                        <option value={{ id }} >&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ first_name }} {{ last_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="fa fa-graduation-cap form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <!--요일 시작 시간 종료시간-->

                            <div class="form-group" >
                                <label  class="control-label col-md-1 col-sm-1 col-xs-2 col-md-offset-2">요일</label>
                                <div class="col-md-8 col-sm-8 col-xs-9 col-md-offset-2" align="center" >

                                    <div class="row">
                                        <div class="btn-group col-md-10 col-sm-10 col-xs-9 col-md-offset-2" align="center" data-toggle="buttons">

                                            <label name="checkbox-label" class="btn btn-default">
                                                <input type="checkbox" name="week_day" id="mon" onchange="limit_checkbox(this, 'week_day', 'checkbox-label')" value="100000">월요일
                                            </label>
                                            <label name="checkbox-label" class="btn btn-default">
                                                <input type="checkbox" name="week_day" id="tue" onchange="limit_checkbox(this, 'week_day', 'checkbox-label')" value="10000">화요일
                                            </label>
                                            <label name="checkbox-label" class="btn btn-default">
                                                <input type="checkbox" name="week_day" id="wed" onchange="limit_checkbox(this, 'week_day', 'checkbox-label')" value="1000">수요일
                                            </label>
                                            <label name="checkbox-label" class="btn btn-default">
                                                <input type="checkbox" name="week_day" id="thu" onchange="limit_checkbox(this, 'week_day', 'checkbox-label')" value="100">목요일
                                            </label>
                                            <label name="checkbox-label" class="btn btn-default">
                                                <input type="checkbox" name="week_day" id="fri" onchange="limit_checkbox(this, 'week_day', 'checkbox-label')" value="10">금요일
                                            </label>
                                            <label name="checkbox-label" class="btn btn-default">
                                                <input type="checkbox" name="week_day" id="sat" onchange="limit_checkbox(this, 'week_day', 'checkbox-label')" value="1">토요일
                                            </label>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>

                                    <div class="x_content">


                                        <div class="col-md-4 col-sm-4 col-xs-9 col-md-offset-2" >
                                            <input type="time" name="time1_start" value="09:00:00" min="09:00:00" class="form-control has-feedback-left" placeholder="시작시간" >
                                            <span class="fa fa-hourglass-start form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4 col-sm-4 col-xs-9 ">
                                                <input type="time" name="time1_end" value="09:00:00" min="09:00:00" class="form-control has-feedback-left" placeholder="종료시간" >
                                                <span class="fa fa-hourglass-end form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                        </div>

                                        <!-- 이메일 -->
                                        <div class="col-md-4 col-sm-4 col-xs-9 col-md-offset-2" id="time2_start" style="display:none">
                                            <input type="time" name="time2_start"  value="09:00:00" min="09:00:00" class="form-control has-feedback-left" placeholder="시작시간" >
                                            <span class="fa fa-hourglass-start form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4 col-sm-4 col-xs-9 " id="time2_end" style="display:none">
                                                <input type="time" name="time2_end"  value="09:00:00" min="09:00:00" class="form-control has-feedback-left" placeholder="종료시간" >
                                                <span class="fa fa-hourglass-end form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                        </div>

                                    </div></div>

                            </div>

                            <!--강의실-->
                            <div class="form-group">
                                <div class="col-md-8 col-sm-8 col-xs-9 col-md-offset-2" >
                                    <input type="text" class="form-control has-feedback-left" placeholder="강의실" name="place" required>
                                    <span class="fa fa-home form-control-feedback left"></span>
                                </div>
                            </div>

                            <!-- 학점, 전체인원 -->
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-9 col-md-offset-2" >
                                    <input type="number" min="0" max="10"  class="form-control has-feedback-left" placeholder="학점" name="credit" required>
                                    <span class="fa fa-sort-numeric-asc form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <div class="col-md-4 col-sm-4 col-xs-9 " >
                                            <input type="text" min="0" max="1000"  class="form-control has-feedback-left" placeholder="제한인원수" name="max_students" required>
                                            <span class="fa fa-users form-control-feedback left " aria-hidden="true"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--과목소개-->
                            <div class="form-group">
                                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2" >
                                    <textarea required="required" name="description" class="form-control has-feedback-left col-md-7 col-xs-12" style="height: 130px" placeholder="과목 소개"></textarea>
                                    <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="control-group">


                                </div>
                            </div>

                        </fieldset>


                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                <input type="reset" class="btn btn-primary" value="초기화"/>
                                <input type="submit" class="btn btn-success" value="등록"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>


    <div class="row">


    </div>
</div>
<!-- /page content -->

<!-- footer content -->
<footer>
    <div class="pull-right">
        A조 - Powered by <a href="https://fb.com">SiS</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="../vendors/bernii/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="../vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="../vendors/Flot/jquery.flot.js"></script>
<script src="../vendors/Flot/jquery.flot.pie.js"></script>
<script src="../vendors/Flot/jquery.flot.time.js"></script>
<script src="../vendors/Flot/jquery.flot.stack.js"></script>
<script src="../vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="js/flot/jquery.flot.orderBars.js"></script>
<script src="js/flot/date.js"></script>
<script src="js/flot/jquery.flot.spline.js"></script>
<script src="js/flot/curvedLines.js"></script>
<!-- jVectorMap -->
<script src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="js/moment/moment.min.js"></script>
<script src="js/datepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

<script lang="javascript">
    function limit_checkbox(obj,name, label_name)
    {
        var max = 2;
        var count=0;
        var x= document.getElementsByName(name);
        var label = document.getElementsByName(label_name);
        for (var i=0; i < x.length; i++)
        {
            if(x[i].checked)
            {
                count = count + 1;
            }
        }
        if (count > max)
        {
            obj.checked = false;
            label.classList.remove('active');
        }
        if (count <= 1)
        {
            document.getElementById('time2_start').style.display = 'none';
            document.getElementById('time2_end').style.display = 'none';
        }
        if (count == 2)
        {
            document.getElementById('time2_start').style.display = 'initial';
            document.getElementById('time2_end').style.display = 'initial';
        }
    }
</script>

</body>
</html>

