<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A 조 | SiS</title>

  <!-- Bootstrap -->
  <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">

  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
              <div class="alert alert-warning fade in">
                <h4 style="text-align: center">{{ message }}</h4>
              </div>
        {% endfor %}
      {% endif %}
  {% endwith %}


  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form name="login_form" method="post" action="/login">
          <h1>로그인 창</h1>
          <div>
            <input type="email" class="form-control" name="email" placeholder="사용자메일" required autofocus value="{{ request.form['email'] }}"/>
          </div>
          <div>
            <input type="password" class="form-control" name="password" placeholder="패스워드" required value="{{ request.form['password']}}"/>
          </div>
          <div>
            <input class="btn btn-default submit" type="submit" value="로그인">
            <a class="reset_pass" href="javascript:window.location.replace('/forgot')">비밀번호를 잊어버리셨나요?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">


            <div class="clearfix"></div>

            <div>
              <h1><i class="glyphicon glyphicon-globe"></i> A 조 | SiS</h1>
            </div>
          </div>
        </form>
      </section>
    </div>


  </div>
</body>
</html>