<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A 조 | SiS</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="javascript:window.location.href='/professor_home';" class="site_title"></i> <span><i class="glyphicon glyphicon-globe"></i> A 조 | SiS</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src={{ data[3] }} alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ data[2] }}{{ data[1] }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Professor</h3>
                        <ul class="nav side-menu">
                            <li><a href="javascript:window.location.href='/professor_home';"><i class="fa fa-home"></i> 메인 <span class="fa fa-dot-circle-o"></span></a>
                            </li>
                            <li><a><i class="fa fa-edit"></i> 과목 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/professor_courses';">내 과목</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 성적 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/professor_scores';">성적표</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src={{ data[3] }} alt=""> {{ data[2] }}{{ data[1] }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:location.href='/logout';"><i class="fa fa-sign-out pull-right"></i> 로그아웃(Log Out)</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="/professor_mail">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <div class="right_col" role="main">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning fade in">
                <h4 style="text-align: center">{{ message }}</h4>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- top tiles -->
            <!-- 상위이름 -->
            <div class="x_panel">
                <div class="x_title">
                    <h3> 성적관리 (Score Management) </h3>
                </div>

                <div class="clearfix"></div>


                <div class="x_content">
                    <br>

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title" style="width: 170px"> 과목이름 </th>
                                <th class="column-title" style="width: 160px"> 학과 </th>
                                <th class="column-title" style="width: 380px"> 시간 </th>
                                <th class="column-title" style="width: 66px"> 학년 </th>
                                <th class="column-title" style="width: 66px"> 학점 </th>
                                <th class="column-title" style="width: 96px"> 신청 인원수 </th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for id, name, department, time1_start, time1_end, time2_start, time2_end, year, credit, max_students, day_abc in course_rows %}
                            <tr class="pointer" onclick="javascript:location.href='/score?course={{id}}'" style="cursor:pointer">
                                <td class=" ">{{ name }}</td></a>
                                <td class=" ">{{ department }}</td>
                                {% if time2_start %}
                                    <td class=" ">{{ day_abc[:1] }} ({{ time1_start }} ~ {{ time1_end }}) {{ day_abc[1:] }}({{ time2_start }} ~ {{ time2_end }})</td>
                                {% else %}
                                    <td class=" ">{{ day_abc }} ({{ time1_start }} ~ {{ time1_end }})</td>
                                {% endif %}
                                <!--학년 (학점 db로 임의로 넣어준것임) 바꿔야함-->
                                <td class=" ">{{ year }}</td>
                                <td class=" ">{{ credit }}</td>
                                <td class=" ">{{ max_students }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>



                </div>
            </div>

        </div>

    </div>

</div>
<!-- /page content -->

<!-- footer content -->
<footer>
    <div class="pull-right">
        A조 - Powered by <a href="https://fb.com">SiS</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="../vendors/bernii/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="../vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="../vendors/Flot/jquery.flot.js"></script>
<script src="../vendors/Flot/jquery.flot.pie.js"></script>
<script src="../vendors/Flot/jquery.flot.time.js"></script>
<script src="../vendors/Flot/jquery.flot.stack.js"></script>
<script src="../vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="js/flot/jquery.flot.orderBars.js"></script>
<script src="js/flot/date.js"></script>
<script src="js/flot/jquery.flot.spline.js"></script>
<script src="js/flot/curvedLines.js"></script>
<!-- jVectorMap -->
<script src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="js/moment/moment.min.js"></script>
<script src="js/datepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

<script lang="javascript">

</script>


</body>
</html>