<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A 조 | SiS</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="javascript:window.location.href='/professor_home';" class="site_title"></i> <span><i class="glyphicon glyphicon-globe"></i> A 조 | SiS</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src={{ data[3] }} alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ data[2] }}{{ data[1] }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Professor</h3>
                        <ul class="nav side-menu">
                            <li><a href="javascript:window.location.href='/professor_home';"><i class="fa fa-home"></i> 메인 <span class="fa fa-dot-circle-o"></span></a>
                            </li>
                            <li><a><i class="fa fa-edit"></i> 과목 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/professor_courses';">내 과목</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 성적 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="javascript:window.location.href='/professor_scores';">성적표</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src={{ data[3] }} alt=""> {{ data[2] }}{{ data[1] }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:location.href='/logout';"><i class="fa fa-sign-out pull-right"></i> 로그아웃(Log Out)</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="/professor_mail">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="x_panel">
                <div class="x_title">
                    <h3>메일창(Mail Form)
                        <div class="btn-group navbar-right">
                            <button class="btn btn-default" type="button"><a href="#profile" data-toggle="tab" aria-expanded="false"><span class="fa fa-mail-forward " aria-hidden="true"></span> 받은메일함&nbsp;&nbsp;</a></button>
                            <button class="btn btn-default" type="button"><a href="#messages" data-toggle="tab" aria-expanded="false"><span class="fa fa-mail-reply " aria-hidden="true"></span> 보낸메일함&nbsp;&nbsp;</a></button>
                            <button class="btn btn-default" type="button"><a href="#NewMail" data-toggle="tab" aria-expanded="true"><span class="fa fa-envelope" aria-hidden="true"></span> 메일쓰기&nbsp;&nbsp;</a></button>
                        </div></h3>
                </div>



                <div class="x_content">

                    <form name="mail_send" id="demo-form2" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data" action="/mail_send_p">


                        <div class="">


                            <div class="col-xs-10" style="width:100%;">
                                <div class="tab-content">

                                    <!-- 받은메일함 -->

                                    <div class="tab-pane active" id="profile">
                                        <p><div class="table-responsive">
                                        <table class="table table-striped jambo_table bulk_action">
                                            <thead>
                                            <tr class="headings">
                                                <th class="column-title" style="width: 15%;"> 보낸 사람 </th>
                                                <th class="column-title" style="width: 20%;"> 제목 </th>
                                                <th class="column-title" style="width: 40%;"> 내용 </th>
                                                <th class="column-title" style="width: 10%;"> 시간 </th>
                                                <th class="column-title" style="width: 5%"> 삭제 </th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                            {% for id, department, last_name, first_name, title, body, time in received_mail %}
                                            <tr class=" pointer">
                                                <a href="javascript:location.replace('/open_mail?mail={{ id }}')">
                                                    <td class=" ">{{ department }} | {{ last_name }} {{ first_name }}</td>
                                                    <td class=" ">{{ title }}</td>
                                                    <td class=" ">{{ body }}</td>
                                                    <td class=" ">{{ time[0:16] }}</td></a>
                                                <td class="last"><a href="javascript:window.location.href='/delete_mail_p?mail={{ id }}';">
                                                    <button class="btn btn-default btn-xs" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>


                                        </table>
                                    </div></p>
                                    </div>

                                    <!-- 보낸메일함 -->
                                    <div class="tab-pane" id="messages">
                                        <p><div class="table-responsive">
                                        <table class="table table-striped jambo_table bulk_action">
                                            <thead>
                                            <tr class="headings">
                                                <th class="column-title" style="width: 15%;"> 보낸 사람 </th>
                                                <th class="column-title" style="width: 20%;"> 제목 </th>
                                                <th class="column-title" style="width: 40%;"> 내용 </th>
                                                <th class="column-title" style="width: 10%;"> 시간 </th>
                                                <th class="column-title" style="width: 5%"> 삭제 </th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                            {% for id, department, last_name, first_name, title, body, time in sent_mail %}
                                            <tr class=" pointer">
                                                <a href="javascript:location.replace('/open_mail?mail={{ id }}')">
                                                    <td class=" ">{{ department }} | {{ last_name }} {{ first_name }}</td>
                                                    <td class=" ">{{ title }}</td>
                                                    <td class=" ">{{ body }}</td>
                                                    <td class=" ">{{ time[0:17] }}</td></a>
                                                <td class="last"><a href="javascript:window.location.href='/delete_mail_p?mail={{ id }}';">
                                                    <button class="btn btn-default btn-xs" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div></p>

                                    </div>

                                    <!-- 메일쓰기 -->

                                    <div class="tab-pane" id="NewMail">
                                        <div class="form-group">
                                            <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
                                                <select class="form-control has-feedback-left" name="reciver" required>
                                                    <option value="" disabled selected>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;받는 사람 선택</option>
                                                    {% for id, department, first_name, last_name in student_rows %}
                                                    <option value={{ id }} >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ department }} |&nbsp;{{ last_name }} {{ first_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
                                                <input type="text" class="form-control has-feedback-left" placeholder="제목" name="title">
                                                <span class="fa fa-tags form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2" >
                                                <input type="file" class="form-control has-feedback-left" placeholder="첨부파일" name="attachment_file">
                                                <span class="fa fa-photo form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2" >
                                                <textarea required="required" name="body" class="form-control has-feedback-left col-md-7 col-xs-12" style="height: 130px" placeholder="내용입력"></textarea>
                                                <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                            </div>

                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                                <input type="reset" class="btn btn-primary" value="초기화"/>
                                                <input type="submit" class="btn btn-success" value="보내기"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>

        </fieldset>


        </form>
    </div>
</div>

</div>

</div>


<div class="row">


</div>
</div>
<!-- /page content -->


<!-- footer content -->
<footer>
    <div class="pull-right">
        A조 - Powered by <a href="https://fb.com">SiS</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="../vendors/bernii/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="../vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="../vendors/Flot/jquery.flot.js"></script>
<script src="../vendors/Flot/jquery.flot.pie.js"></script>
<script src="../vendors/Flot/jquery.flot.time.js"></script>
<script src="../vendors/Flot/jquery.flot.stack.js"></script>
<script src="../vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="js/flot/jquery.flot.orderBars.js"></script>
<script src="js/flot/date.js"></script>
<script src="js/flot/jquery.flot.spline.js"></script>
<script src="js/flot/curvedLines.js"></script>
<!-- jVectorMap -->
<script src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="js/moment/moment.min.js"></script>
<script src="js/datepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>


</body>
</html>
